@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
}
.inicio{
  height: 100%;
}
.logo{
  width: 30%;
  position: relative;
  left: 33%;
}
.inicio > h1{
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
}
.inicio  input{
  width: 50%;
  margin-left: 25%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  color: black;
  border-radius: 10px;
}
.submit{
  margin-top: 2%;
  background-color: rgb(216, 243, 216);
}
.logopeque{
  float: left;
  width: 10%;
}
.logopeque > img{
  width: 100%;
}
.productosview > form{
  float: left;
  width: 70%;
}
.a{
  width: 100%;
  border-radius: 10px;
  margin-top: 2%;
  padding: 2%;
}
.productosview>p{
  clear: both;
  margin: 2% 0% 2% 0%;
  font-size: 2em;
}
.columnas{
  width: 100%;
  display: grid;
  grid-template-columns:33% 33% 33%;
}
.tarjetaProducto >img{
  width: 80%;
  height: 32vh;
  border-radius: 100%;
}
.tarjetaProducto{
  margin-bottom: 10%;
  margin-right: 4%;
}
.tarjetaProducto p{
  font-size: 1.5em;
}
.precio{
  background-color: rgb(216, 243, 216);
  width: 20%;
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
.formSpan{
  float: left;
  width: 70%;
}
.vistaDetalles{
  width: 60%;
}
.tarjetaProductoDetallado{
  clear: both;
  padding-top: 5%;
}
.galeria{
  width: 20%;
  display: grid;
  grid-template-columns: 60% 40%;
}
.galeria  img{
  width: 90%;
}
.restoimagenes{
  display: grid;
  grid-column: auto;
}
.restoimagenes img{
  width: 32%;
}
.titulo{
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}
.price{
  background-color: rgb(216, 243, 216);
  width: 20%;
  font-size: 1.5em;
}
.valoracion{
  width: 50%;
  font-size: 1.5em;
}
.description{
  width: 100%;
  font-size: 1.2em;
}
.comprar{
  width: 54%;
  margin-top: 3%;
  padding: 2%;
  background-color: rgb(216, 243, 216);
}
.descuento{
  background-color: rgb(239, 177, 177);
  width: 20%;
  margin: 2% 0% ;
}
.galeria{
  width: 80%;
  margin:2% 0%;
}
.submit{
  padding: 2%;
  border-radius: 10%;
}
 /* Agrega estilos según tus necesidades */
 .imagenAmpliada {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.imagenAmpliada img {
  width: 50%;
  height: 60%;
}
.categoria{
  display: inline-block;
  margin: 0% 1% 3% 0%;
  text-transform: uppercase;
  border: black 0.5px solid;
  padding: 0.5%;
}
.carrito{
  width: 20%;
  float: right;
  position: relative;
}
.carrito img{
  width: 100%;
}
.numarticulos{
  position: absolute;
  top:90px;
  right: 20px;
  font-size: 2em;
  color: red;
  font-weight: bold;
  background-color: white;
  padding: 0% 9% 0% 9%;
  border-radius: 50%;
  border: 0.5px solid black;
}
.carrito-expandido {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro translúcido */
  z-index: 999; /* Asegura que esté en la capa superior */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjetaCarro {
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.tarjetaCarro > h2{
  font-size: 4em;
  background-color: rgb(216, 243, 216);
}
.cerrarCarrito{
  width: 100%;
  background-color: rgb(216, 243, 216);
  padding: 1% 0 1% 0%;
  text-align: center;
  font-size: 1em;
}
table{
  width: 100%;
  text-align: left;
  margin-bottom: 5%;
}
tr{
  display: grid;
  grid-template-columns: 33% 33% auto;
}
th{
  font-weight: bold;
  font-size: 2em;
}
td{
  border: 1px solid black;
}
tfoot>tr{
  margin-top: 3%;
}
tfoot >tr td{
  font-weight: bolder;
}
tfoot >tr td:nth-child(3){
  background-color: rgb(216, 243, 216) ;
}
